.searchBar
  background-color: #FAFAFA
  height: 48px
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12)
  border-radius: 2px

.searchBar__input
  background: transparent
  border: 0
  color: #404040
  font-size: 1.5rem
  font-weight: 300
  position: relative
  padding: 5px 5px 5px 50px
  background-image: url(loop)
  background-size: 17.5px 17.5px
  background-repeat: no-repeat
  background-position-y: center
  background-position-x: 19px  
  width: 100%